# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# .vscode/
# *.code-workspace
.nfs0000000001e8d8710000003a

data/*/*

lib/*
figure/
exp/


*.pyc
__pycache__/

ckpt/
vis/
log/
pretrained/

*.tmp
*.bak
*tmp*
*bak/